In [1]:
a = 47
a = float(a)
a

47.0

In [2]:
float(-1)

-1.0

In [3]:
float(0)

0.0

In [4]:
float(5)

5.0

In [5]:
b= 7.4
int(b)

7

In [6]:
a/b

6.351351351351351

In [7]:
int(a/b)

6

In [8]:
str(345)

'345'

In [9]:
a = str(123456789123)
len(a)

12

In [11]:
a = str(4.77)
a

'4.77'

In [12]:
len(a)

4

In [13]:
a = "4342343tdsfsd"
int(a)

ValueError: invalid literal for int() with base 10: '4342343tdsfsd'

In [15]:
a = "5454665863"
int(a)

5454665863

In [16]:
b= "5.424342"
b= float(b)
b

5.424342

In [17]:
n= "4342.8765.435"
n = float(n)
n

ValueError: could not convert string to float: '4342.8765.435'